*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;    
    scroll-behavior: smooth;
    background-color: rgba(93, 143, 93, 0.815);
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid black;
    background-color: black;
    display: block;
    margin: 20px auto;
    image-rendering: pixelated;
}